---
---
h1.gemheader {
  margin:      -30px 0 0.5em -65px ; 
  text-indent:                65px ; 
  height:       45px ;
  padding:      50px 0 10px 0px; 
  background:   url('/images/wuclan.png') no-repeat 0px 2px ;
  }
.description {
  margin-bottom: 78px;
  }
